@model gnoiniyProject.Models.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome nah</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"> </script>
    <script type="text/javascript" src="~/Scripts/window.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/Index.css">
</head>
<body>
    <div id="box">

        <div id="top">
            <ul>
                <li><a id="go" href="#">Войти</a></li>
                <li><a href="/chat/Registration">Регистрация</a></li>

            </ul>
        </div>

        <div id="logo">
            На кортах.com
        </div>
        <div id="lbox">
        </div>
        <div id="cbox">
        </div>
        <div id="rbox">
        </div>
        <div id="slogan">заходи порамсить...</div>


        <div id=popupContact>
            <div id="vhod">Вход<hr></div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div id="log1">Логин:</div>
                @Html.EditorFor(x => x.Login, new { htmlAttributes = new { id="log", size="28"} })
               <!-- <input id="log" size="29" /> -->
                <div id="pass1">Пароль:</div>
                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { id="pass", size="28" } })
               <!-- <input id="pass" size="29" type="password" /> -->
                <div onclick="javascript: this.parentNode.submit();" id="pGo">Войти</div>
                <button type="submit" hidden="true"></button>
            }
        </div>
        <div id=backgroundPopup></div>

    </div>
</body>
</html>