@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NaKortah.com</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"> </script>
    <script type="text/javascript" src="~/Scripts/login.js"> </script>
    <script type="text/javascript" src="~/Scripts/registration.js"> </script>
    <link href="~/Content/css/index.css" rel="stylesheet" type="text/css">
</head>

<body>





    <div id="pacani">
        <img src="~/Content/Images/gon1.png" width="900px">
    </div>
    <div id="logo">
        <img src="~/Content/Images/logo.png" width="450px">
    </div>


    <button id="go"> Войти</button>
    <div id="rega">Регистрация</div>


    <div id=popupContact>
        <div id="nameGo">Вход:</div>
        <hr>
        <div id=log> Login:</div>
        <input id="login"></input>
        <div id=pass> Password:</div>
        <input type="password" id="password"></input>
        <button id=gobutton>Войти</button>
    </div>
    <div id=backgroundPopup></div>


    <div id=popupContact1>
        <div id="nameRega">Регистрация:</div>
        <hr>
        <div id="log2">Login:</div>
        <input id="login2"></input>
        <div id="pass2">Password:</div>
        <input id="password2"></input>
        <input id="nickname"></input>
        <div id=nick>Nickname:</div>
        <button id="zareg">Зарегистрироваться</button>
    </div>
    <div id=backgroundPopup1></div>


</body>

</html>