<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST.V1.2</title>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
</head>
<body>
    <div id="box">

        <div id="right">
            <div id="chat">
            </div>
            <textarea id="enter" placeholder="Введите сообщение..."></textarea>
        </div>

        <div id="left">
            <div id="myNick">@ViewBag.Name</div>
            <div id="list">
            </div>
            <button id=press>Отправить</button>
        </div>

    </div>
</body>
</html>