@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
*{
	font-family: "Roboto Condensed";
}

a{
	display: inline-block;
}
body{
   background-color: #252525;
 
}
html{
	padding: 0;
	margin: 0;
}



#box{
	width: 98.7vw;
	height: 97.6vh;
	background-color: white;
	min-height: 200px;
	min-width: 600px;
}
#top{
	width: 100%;
	height: 7%;
	
}
#top > ul{
	padding: 0;
	margin: 0;
	height: 100%;
	margin-left:39%;
	font-size:0;


}
#top > ul > li{
	display: inline-block;
	list-style: none;
	height: 100%;
	font-size:20px;

}
#top > ul > li > a{
	text-decoration: none;
	color:black;
	height: 100%;
	display: inline-block;
	line-height: 40px;
	padding: 0 50px 0;
	margin-left:0;
	
}

#top > ul > li > a:hover{
	color:white;
	background-color:#252525;
}


#logo{
	width: 100%;
	height: 20%;
	text-align: center;
	font-size:90px;
	
    color:#000000;
    font-family: "Lobster"
	
}

#lbox{
	background-image: url(../Images/1p.png);
	background-size: cover;
	background-color:#252525;
	width: 16%;
	height: 30%;
	float: left;
	margin-left: 25%;
	margin-top:6%;
	border:3px solid black;

	
}
#cbox{
	background-image: url(../Images/2p.png);
	background-size: cover;
	background-color: #252525;
	width: 16%;
	height: 30%;
	float: left;
	margin-left: 0.1%;
	margin-top:6%;
	border:3px solid black;
}

#rbox{
	background-image: url(../Images/3p.png);
	background-size: cover;
	background-color: #252525;
	width: 16%;
	height: 30%;
	float: left;
	margin-left: 0.1%;
	margin-top:6%;
	border:3px solid black;
}


#slogan{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 80px;
	width: 100%;
	color:black;
	margin-top:30%;
	text-align: center;
	font-size:25px;
}




#backgroundPopup{
  display:none;
  position:fixed;
  position:absolute; 
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:black;
  z-index:1;
}

#popupContact{
  display:none;
  position:fixed;
  position:absolute; 
  height:216px;
  width:216px;
 background-color: #ffffff;
 /*border:2px solid black;*/
  border:none;
  z-index:2;
  padding:12px;
  font-size:13px;
  
}


#pGo{
	margin-top: 13px;
	margin-left: 150px;
    color: #000000;
	font-size: 25px;
}

#pGo:hover{
	color: red;
	cursor: pointer;
}

#log{
	margin-top: 5px;
	background-color: #E4E4E4;
	border:none;
	outline: none;
	border-radius: 1px;
	text-align: center;
	font-size: 16px;
}

#pass{
margin-top: 8px;
border:none;
outline: none;
background-color: #E4E4E4;
border-radius: 1px;
text-align: center;
font-size: 16px;
}


#log1{
margin-top: 20px;
font-size: 20px;
color: #000000;
}

#pass1{
margin-top: 10px;
font-size: 20px;
color: #000000;
}


#vhod{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

hr{
background-color: #000000;
height: 2px;
border: none;
}

